<?xml version="1.0" encoding="UTF-8"?>
<configuration>

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread]  %logger{36} - %msg%n</pattern>
                </encoder>
        </appender>
        <root level="OFF"/>
        <logger name="poc.spring" level="DEBUG" additivity="false">
                <appender-ref ref="console" />
        </logger>
        <logger name="poc.spring.swagger" level="DEBUG" additivity="false">
                <appender-ref ref="console" />
        </logger>
         <logger name="org.apache.catalina.core" level="INFO" additivity="false">
                <appender-ref ref="console" />
        </logger>
        <include resource="org/springframework/boot/logging/logback/base.xml" />
        <logger name="org.springframework" level="OFF"/>
</configuration>
